<h2>CSV Import finished</h2>

CSV Filename : <%= @file.original_filename %><br />
Lines : <%= @line_count %><br />
Status : <br />
<pre><%= @status_msg %></pre>

<p>
Status indicates the result of importing.
For its detail, see <a href="http://www.skyarc.co.jp/engineerblog/entry/post_12.html">user manuals</a>.
</p>
